{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_ordernumber_container %}

    {% if page.product.WeloEanDetailData | length <= 0 %}
        {{ parent() }}
    {% else %}
        <div class="row product-detail-ordernumber-container">
            {% if page.product.productNumber %}
                {% block page_product_detail_ordernumber_label %}
                    <div class="col-4">
                        <span class="product-detail-ordernumber-label">
                            {{ "detail.ordernumberLabel"|trans }}
                        </span>
                    </div>
                {% endblock %}
                {% block page_product_detail_ordernumber %}
                    <div class="col-8">
                        <meta itemprop="productID" content="{{ page.product.id }}"/>
                        <span class="product-detail-ordernumber" itemprop="sku">
                            {{ page.product.productNumber }}
                        </span>
                    </div>
                {% endblock %}
            {% endif %}

            {% for item in page.product.WeloEanDetailData %}
                <div class="col-4">
                    <span class="product-detail-ordernumber-label">
                        {{ item.label }}:
                    </span>
                </div>
                <div class="col-8">
                    <meta itemprop="{{ item.content }}" content="{{ item.content }}"/>
                    <span class="product-detail-ean" itemprop="{{ item.content }}">
                        {{ item.content }}
                    </span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

